# {{ ansible_managed }}
{% for dns_server in dns_nameservers -%}
  nameserver {{ dns_server }}
{% endfor %}
{% if dns_domain | length > 0 -%}
  domain {{ dns_domain }}
{% endif %}
{% if dns_search | length > 0 -%}
  search {{ dns_search | join(" ") }}
{% endif %}
{% if dns_sortlist | length > 0 -%}
  sortlist {{ dns_sortlist | join(" ") }}
{% endif %}
{% if dns_options | length > 0 -%}
  options {{ dns_options | join(" ") }}
{% endif %}
